#main { padding: 100px 0; }

#main ul { width: 1200px; margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#main li { -webkit-perspective: 1000px; perspective: 1000px; width: calc(25% - 20px); margin: 10px; }

#main .card { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

#main .card .face { -webkit-backface-visibility: hidden; backface-visibility: hidden; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

#main .card .front { background: url("../images/steel.png"); }

#main .card .front .img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transform: translateZ(50px); transform: translateZ(50px); }

#main .card .front .img img { width: 90%; }

#main .card .back { background-color: #fff; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); padding: 20px; position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main .card .info { -webkit-transform: translateZ(50px); transform: translateZ(50px); height: 100%; }

#main .card .info .category { font-size: 18px; font-weight: 500; margin-bottom: 20px; }

#main .card .info .title { font-size: 24px; font-weight: 300; margin-bottom: 30px; line-height: 1.25; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

#main .card .info .depth { padding-bottom: 10px; border-bottom: 2px solid #f00; display: inline-block; }

#main .card .info .depth strong { font-weight: 700; }

#main .card .info .price { position: absolute; font-size: 24px; font-weight: 700; bottom: 20px; }

#bgParticle { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333; }

.pagination { color: #fff; font-size: 18px; position: fixed; bottom: 50px; text-align: center; padding: 15px 40px; background-color: #c00000; border-radius: 100px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); overflow: hidden; text-shadow: 1px 1px 0px #8d0000,2px 2px 0px #8d0000,3px 3px 0px #8d0000,4px 4px 0px #8d0000,5px 5px 0px #8d0000,6px 6px 0px #8d0000,7px 7px 0px #8d0000,8px 8px 0px #8d0000,9px 9px 0px #8d0000,10px 10px 0px #8d0000,11px 11px 0px #8d0000,12px 12px 0px #8d0000,13px 13px 0px #8d0000,14px 14px 0px #8d0000,15px 15px 0px #8d0000,16px 16px 0px #8d0000,17px 17px 0px #8d0000,18px 18px 0px #8d0000,19px 19px 0px #8d0000,20px 20px 0px #8d0000,21px 21px 0px #8d0000,22px 22px 0px #8d0000,23px 23px 0px #8d0000,24px 24px 0px #8d0000,25px 25px 0px #8d0000,26px 26px 0px #8d0000,27px 27px 0px #8d0000,28px 28px 0px #8d0000,29px 29px 0px #8d0000,30px 30px 0px #8d0000;; }
